<style>
    input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>











<div class="container" style="background-color:white">
  <div class="row">

  <div class="col-sm-8" style="background-color:white;border:1px solid silver;height:491px">



    <form style="margin-top:10px">
      <input type="text" name="search" placeholder="Search..">
    </form>
    <div class="container-fluid">

      <!--<div class="row">
        <div class="col-sm-4" style="">
          Name
        </div>
        <div class="col-sm-4" style="">
          Team

        </div>
        <div class="col-sm-4" style="">Modified</div>
      </div>-->


<table class="ui celled table"> 
   <thead> 
   <tr> 
   <th>Name</th> 
 <th>Age</th> 
 <th>City</th> 
</tr> 
 </thead> 
 <tr > 
  <td>Daniyal</td> 
 <td>20</td> 
 <td>karachi</td> 
 </tr> 
 <tr > 
  <td>Fasih</td> 
 <td>21</td> 
 <td>Islamabad</td> 
 </tr> 
 <tr > 
  <td>Sharukh</td> 
 <td>24</td> 
 <td>Karachi</td> 
 </tr> 
 <tr > 
  <td>Shahroz</td> 
 <td>25</td> 
 <td>Multan</td> 
 </tr> 
 <tr > 
  <td>Afzal</td> 
 <td>20</td> 
 <td>Gujrawala</td> 
 </tr> 
 <tr > 
  <td>Talha</td> 
 <td>20</td> 
 <td>Badeen</td> 
 </tr> 
 </table>



    </div>
  </div>

  <div class="col-sm-4" style="background-color:white;">

<article></article>
  </div>
</div>
      

</div> 
 <!-- <ul><li *ngFor="let a of course" style="color:silver">{{a.url}}{{a.name}}{{a.tel}}{{a.number}}{{a.price}}{{a.description}}{{a.date}}{{a.color}}</li></ul>-->


<!--<button [routerLink]="['crisis']" >crisis</button>-->
