
<nav class="navbar navbar-default" style="background-color:white;border-bottom:1px solid black;height:35px">
  <div class="container-fluid">
   
    <div class="navbar-header">
   <img src="images/right.jpg" width="50" height="40px" style="padding-top:20px">
      <a class="navbar-brand" href="#" ></a>
    </div>
    <ul class="nav navbar-nav" style="margin-left:20px">
      <li class="active"><a href="#" style="height:40px;padding-top:20px;color:	#48D1CC;background-color:white;font-size:20px"><b>TEAM OF TEAMS</b></a></li>
<li><a [routerLink]="['aside-bar']"><img src="images/home.png" width="" height="25px"></a></li>

<li>
  <a href="#" style="color:#48D1CC;background-color:white; border: 1px solid 	#48D1CC;
    background: white;
    width: 90px;
margin-left:600px;
    border-radius: 25px;height:47px">Check In</a></li>
    </ul>

  
 
     <a href="#" style="margin-left:120px"> <img src="images/images.png" width='30px' height='35px' style="margin-top:4px;margin-left:10px"></a>
          <a href="#"> <img src="images/download.png" width='30px' height='35px' style="margin-top:4px;margin-left:10px"></a>
     <a href="#"> <img src="images/profile.png" width='35px' height='40px' style="margin-top:4px;margin-left:10px"></a>

  </div>
</nav>
<router-outlet></router-outlet>

